.posts-view {
}

.sub-title {
  color: #607D8B;
}

.post-list {
  list-style-type: none;
  padding-left: 0px;
}

.post-list li {
  cursor: pointer;
  background-color: #EEE;
  margin-bottom: 5px;
}

.selected {
  background-color: #CFD8DC;
  color: white;
}

.post-list li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}

.post-list li:hover {
  color: #607D8B;
  background-color: #DDD;
}

.post-list li:hover .post-emblem {
  color: black;
}

.post-list li.selected:hover .post-emblem {
  color: white;
}

.post {
  line-height: 2em;
}

.post-emblem {
  background-color: #607D8B;
  line-height: inherited;
  display: inline-block;
  padding: 0px 10px;
  font-weight: bold;
}

.callsign {
  margin: 10px;
}

.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
